@font-face {
	font-family: 'WorkSans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/WorkSans.ttf');
}

@font-face {
	font-family: 'Almarai';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Almarai-Regular.ttf');
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: WorkSans, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 95ch;
	font-weight: 500;
	text-align: left;
	font-size: 18px;
	background-color: #030014;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #f3f5f7;
}

p {
	font-family: Almarai;
}

h2 {
	font-family: WorkSans, sans-serif;
}

a {
	background: linear-gradient(90.01deg,#e59cff .01%,#ba9cff 50.01%,#9cb2ff 100%),linear-gradient(180deg,rgba(255,255,255,.4) 0%,rgba(255,255,255,.28) 100%);
    background-blend-mode: screen,normal;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}

