@font-face {
	font-family: 'WorkSans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/WorkSans.ttf');
}

@font-face {
	font-family: 'Almarai';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Almarai-Regular.ttf');
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica, sans-serif;
	margin: auto;
	padding: 20px;
	-webkit-text-size-adjust: 100%;
	max-width: 95ch;
	background-color: #111010;
	font-weight: 200;
	text-align: left;
	font-size: 18px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #f3f5f7;
}

span {
	display: inline-block;
}
#tsparticles {
	position: fixed;
	width: 100%;
	z-index: -1;
}
a {

	color: #4DAAD3;
	text-decoration: none;
}
h1,
h2 {
	font-family: WorkSans, sans-serif;
}

nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}

