---
import { SITE_TITLE } from '../consts';
---
<footer>
    <!-- <p>insert footer </p> -->
</footer>

<style>
    footer {
        color: #fff;
        position: absolute;
        bottom: 0;
    }
</style>

